{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3">Archives</h1>
        <p class="lead">Please Select the Archived document you would like to read</p>
        <hr class="my-4">
        <table style="undefined;table-layout: fixed; width: 1082px">
            <tr>
                <th>Tailboard ID<br></th>
                <th>Date</th>
                <th>Staff<br></th>
                <th>Location<br></th>
                <th>Print</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}