{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-3">Create A New Tailboard</h1>
            <p class="lead">Please enter the following information to create a new Tailboard</p>
            <hr class="my-4">
                <form action="{{ url_for('handleNewTailboard') }}" method="post">
                    <div class="form-group">
                        <label for="presentStaff">Please select the staff that will be included on this tailboard:</label>
                        <select multiple class="form-control" id="presentStaff" name="presentStaff">
                            {% for o in staff %}
                                <option value={{ o.id }}>{{ o.firstName }} {{ o.lastName }} - {{ o.email }} </option>
                            {% endfor %}
                        </select>
                     </div>
                    <div class="form-group">
                        <label for="inputFirstName">Please select the vehicles that will be included on this tailboard:</label>
                        <select multiple class="form-control" id="presentVehicles" name="presentVehicles">
                            {% for o in vehicle %}
                                <option value={{ o.id }}>{{ o.nickname }} - {{ o.corporationID }} - {{ o.make }} {{ o.model }} </option>
                            {% endfor %}
                        </select>
                     </div>
                    <div class="form-group">
                        <label for="presentDangers">Please select the Present Dangers on site, If you do not see a current danger please select other and add the new dangers with a ; between each point:</label>
                        <select multiple class="form-control" id="presentDangers" name="presentDangers">
                            <option value="coldMeter">Cold Meter</option>
                            <option value="hotMeter">Hot Meter</option>
                            <option value="txRated">TX rated</option>
                            <option value="testing">Testing</option>
                            <option value="siteVisits">Site Visits</option>
                            <option value="nonTypical">Non Typical</option>
                            <option value="750Less">Less Then 750V</option>
                            <option value="750Greater">Greater Then 750V</option>
                            <option value="grounding">Grounding</option>
                            <option value="heights">Working at Heights</option>
                            <option value="weatherStresses">Weather Stresses</option>
                            <option value="climbingHazards">Climbing Hazards</option>
                            <option value="confinedSpace">Confined Space</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ControlsBarriers">Please select the Controls/Barriers present</label>
                        <select multiple class="form-control" id="ControlsBarriers" name="ControlsBarriers">
                            <option value="coldMeter">Cold Meter</option>
                            <option value="hotMeter">Hot Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                            <option value="coldMeter">Cold Meter</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="locationField">
                            <label for="autocomplete">Please eneter the location that this tailboard will cover:</label>
                            <input class="form-control" id="autocomplete" onfocus="geolocate()" autocomplete="off" type="text">
                         </div>
                    </div>
                    <div class="form-group">
                        <label for="">Please describe the job steps that will be taken in text:</label>
                        <textarea rows="5" class="form-control" id="jobSteps" name="jobSteps" aria-describedby="jobSteps" required></textarea>
                    </div>
                     <div class="form-group">
                        <label for="">Please describe the job steps that will be taken in text:</label>
                        <textarea rows="5" class="form-control" id="jobSteps" name="jobSteps" aria-describedby="jobSteps" required></textarea>
                    </div>
                     <div class="form-group">
                        <label for="">Please describe the job steps that will be taken in text:</label>
                        <textarea rows="5" class="form-control" id="jobSteps" name="jobSteps" aria-describedby="jobSteps" required></textarea>
                    </div>
                    <hr class="my-4">
                    <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
                </form>
        </div>
    </div>
    <script src="/static/js/tailboardJS.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQpKEvZO_AooRB_G6cvKNtqh58Vj5ygOc&libraries=places&callback=initAutocomplete"
        async defer></script>
{% endblock %}