{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3">Reinstate A Present Danger</h1>
        <p class="lead">Select a department member to be Reinstated for the on-line tailboard</p>
        <hr class="my-4">
            <form action="{{ url_for('handleReinstatePresentDanger') }}" method="post">
                <select multiple class="form-control" name="reinstatePresentDanger" id="reinstatePresentDanger">
                     {% for o in presentDangers %}
                          <option value={{ o.id }}>{{ o.danger }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
            </form>
    </div>
</div>
    <script>
    var select_element = document.getElementById( 'reinstatePresentDanger' );
        multi( select_element, {
            'enable_search': false,
            'search_placeholder': 'Search...',
            'non_selected_header': null,
            'selected_header': null
        });
    </script>
{% endblock %}