{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3">Remove A Present Danger</h1>
        <p class="lead">Select a Present Danger to be removed from the on-line tailboard</p>
        <hr class="my-4">
            <form action="{{ url_for('handleRemoveStaff') }}" method="post">
                <select multiple class="form-control" name="removeStaff">
                     {% for o in presentDangers %}
                          <option value={{ o.id }}>{{ o.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
            </form>
    </div>
</div>
{% endblock %}