{% extends "base.html" %}
{% block content %}
    <script type="application/javascript">
    function myFunction() {
        var str=document.getElementById('editPresentDangers').value.split(";");
        document.getElementById("id").value = str[0];
        document.getElementById("inputid").value = str[0];
        document.getElementById("presentDanger").value = str[2];
        document.getElementById("inputActive").value = str[1];
    }
    </script>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-3">Edit A Present Dangers</h1>
            <p class="lead">Select a Present Dangers to be removed from the on-line tailboard</p>
            <hr class="my-4">
                <label for="editStaff">Select the Present Dangers to Edit</label>
                <select class="form-control" id="editPresentDangers" name="editPresentDangers" onchange="myFunction()">
                    <option disabled selected>------------------------------------</option>
                     {% for o in presentDangers %}
                          <option {% if o.enabled == 1 %}style='color: #1c3bcc'{% else %} style='color: #cc1e18' {% endif %} value={{ o.id }};{{ o.enabled }};{{ o.danger }}>{{ o.danger }}</option>
                    {% endfor %}
                </select>
                <br>
                <form action="{{ url_for('handlePresentDangers') }}" method="post">
                    <div class="form-group">
                        <label for="id">ID:</label>
                        <input type="text" class="form-control" id="id" name="id" aria-describedby="id" placeholder="0" disabled>
                        <input type="text" class="form-control" id="inputid" name="inputid" aria-describedby="id" placeholder="0" hidden>
                     </div>
                    <div class="form-group">
                        <label for="newPresentDanger">Present Danger:</label>
                        <input type="text" class="form-control" id="presentDanger" name="presentDanger" aria-describedby="presentDanger" placeholder="Explosions" onkeyup="this.value = this.value.replace(/[^a-z]/, '')" required>
                     </div>
                    <div class="form-group">
                        <label for="inputEnabled">Active Present Danger</label>
                        <select class="form-control" id="inputActive" name="activePresentDanger">
                            <option value=True >True</option>
                            <option value=False>False</option>
                        </select>
                    </div>
                    <hr class="my-4">
                    <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
                </form>
        </div>
    </div>

{% endblock %}