{% extends "base.html" %}
{% block content %}
    <script src="/static/js/staffEditJS.js"></script>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-3">Edit A Staff Member</h1>
            <p class="lead">Select a department member to be removed from the on-line tailboard</p>
            <hr class="my-4">
                <label for="editStaff">Select the staff to Edit</label>
                <select class="form-control" id="editStaff" name="editStaff" onchange="myFunction()">
                    <option>------------------------------------</option>
                     {% for o in staff %}
                          <option {% if o.enabled == 1 %}style='text-color: #1c3bcc'{% else %} style='text-color: #cc1e18' {% endif %} value={{ o.id }};{{ o.firstName }};{{ o.lastName }};{{ o.email }};{{ o.tel }};{{ o.enabled }};{{ o.corporateID }}>{{ o.firstName }} {{ o.lastName }} - {{ o.email }}</option>
                    {% endfor %}
                </select>
                <br>
                <form action="{{ url_for('handleEditStaff') }}" method="post">
                    <div class="form-group">
                        <label for="id">ID:</label>
                        <input type="text" class="form-control" id="id" name="id" aria-describedby="id" placeholder="0" disabled>
                        <input type="text" class="form-control" id="inputid" name="inputid" aria-describedby="id" placeholder="0" hidden>
                     </div>
                    <div class="form-group">
                        <label for="inputFirstName">First Name:</label>
                        <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" aria-describedby="fistName" placeholder="Jane" onkeyup="this.value = this.value.replace(/[^a-z]/, '')" required>
                     </div>
                    <div class="form-group">
                        <label for="inputLastName">Last Name:</label>
                        <input type="text" class="form-control" id="inputLastName" name="inputLastName" aria-describedby="lastName" placeholder="Doe" onkeyup="this.value = this.value.replace(/[^a-z]/, '')" required>
                    </div>
                    <div class="form-group">
                        <label for="inputCorpID">Corporate ID:</label>
                        <input type="text" class="form-control" id="inputCorpID" name="inputCorpID" aria-describedby="inputCorpID" placeholder="666666" min="10000" max="99999" required>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email:</label>
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="email" placeholder="doej@londonhydro.com" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPhoneNumber">Phone Number:</label>
                        <input type="tel" class="form-control" id="inputPhoneNumber" name="inputPhoneNumber" aria-describedby="phoneNumber" placeholder="5196615800" required>
                    </div>
                    <div class="form-group">
                        <label for="inputEnabled">Active User</label>
                        <select class="form-control" id="inputActive" name="activeStaff">
                            <option value=True >True</option>
                            <option value=False>False</option>
                        </select>
                    </div>
                    <hr class="my-4">
                    <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
                </form>
        </div>
    </div>
{% endblock %}