{% extends "base.html" %}
{% block content %}

    <script type="application/javascript">
    function autoFillVehicle() {
    var str=document.getElementById('editVehicle').value.split(";");

        document.getElementById("id").value = str[0];
        document.getElementById("inputid").value = str[0];
        document.getElementById("inputNickname").value = str[2];
        document.getElementById("inputCorporationID").value = str[3];
        document.getElementById("inputMake").value = str[4];
        document.getElementById("inputModel").value = str[5];
        document.getElementById("inputActive").value = str[1];
    }
    </script>

    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-3">Edit A Vehicle Member</h1>
            <p class="lead">Select a department member to be removed from the on-line tailboard</p>
            <hr class="my-4">
                <label for="editVehicle">Select the Vehicle to Edit</label>
                <select class="form-control" id="editVehicle" name="editVehicle" onchange="autoFillVehicle()">
                    <option>------------------------------------</option>
                     {% for o in vehicle %}
                          <option value={{ o.id }};{{ o.enabled }};{{ o.nickname }};{{ o.corporationID }};{{ o.make }};{{ o.model }};{{ o.enabled }};>{{ o.nickname }} - {{ o.corporationID }} - {{ o.make }} {{ o.model }}</option>
                    {% endfor %}
                </select>
                <br>
                <form action="{{ url_for('handleEditVehicle') }}" method="post">
                    <div class="form-group">
                        <label for="id">ID:</label>
                        <input type="text" class="form-control" id="id" name="id" aria-describedby="id" placeholder="0" disabled>
                        <input type="text" class="form-control" id="inputid" name="inputid" aria-describedby="id" placeholder="0" hidden>
                     </div>
                    <div class="form-group">
                        <label for="inputNickname">Nickname:</label>
                        <input type="text" class="form-control" id="inputNickname" name="inputNickname" aria-describedby="inputNickname" placeholder="Hyperion" onkeyup="this.value = this.value.replace(/[^a-z]/, '')" required>
                     </div>
                    <div class="form-group">
                        <label for="inputCorporationID">Corporation ID:</label>
                        <input type="text" class="form-control" id="inputCorporationID" name="inputCorporationID" aria-describedby="inputCorporationID" placeholder="2.7" required>
                    </div>
                    <div class="form-group">
                        <label for="inputMake">Make:</label>
                        <input type="text" class="form-control" id="inputMake" name="inputMake" aria-describedby="inputMake" placeholder="Anvil Aerospace" required>
                    </div>
                    <div class="form-group">
                        <label for="inputModel">Model:</label>
                        <input type="text" class="form-control" id="inputModel" name="inputModel" aria-describedby="inputModel" placeholder="Hurricane" required>
                    </div>
                    <div class="form-group">
                        <label for="inputEnabled">Active Vehicle</label>
                        <select class="form-control" name="inputActive" id="inputActive">
                            <option value=True>True</option>
                            <option value=False>False</option>
                        </select>
                    </div>
                    <hr class="my-4">
                    <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
                </form>
        </div>
    </div>
{% endblock %}