<!doctype html>
{% if title %}
        <title>{{ title }} - Deimos</title>
    {% else %}
        <title>Deimos</title>
{% endif %}

{{ moment.include_jquery() }}
{{ moment.include_moment() }}

<link rel="stylesheet" href="static/css/paper.css">
<!-- Set page size here: A5, A4 or A3 -->
<!-- Set also "landscape" if you need -->
<style>@page { size: A5 }</style>
<body class="A5">

<!-- Each sheet element should have the class "sheet" -->
<!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
<section class="sheet padding-10mm">

    <!-- Write HTML just like a web page -->
    <center><h1>Tailboard Report</h1></center>
    <table style="width: 100%">
        <tr>
		<td><p><strong>Date: </strong><i>{{moment( tailboard.timestamp).format('LLLL') }}</i></p></td>
            <td><p><strong>Job ID:</strong><i> {{ tailboard.id }}</i></p></td>
            <td><p><strong>Job Location:</strong><i> {{ tailboard.location }}</i></p></td>
        </tr>
    </table>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;width: 100%}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color: #b20838;border-top-width:1px;border-bottom-width:1px;}
    .tg .tg-hgcj{font-weight:bold;text-align:center}
    </style>
    <table class="tg">
        <tr>
            <th class="tg-hgcj" colspan="5">Staff Present<br></th>
        </tr>
        {% for o in presentUserData %}
        <tr>
            <td class="tg-031e">{{ o.user.firstName }} {{ o.user.lastName }}</td>
            <td class="tg-031e">{{ o.user.email }}</td>
            <td class="tg-031e">{{ o.user.corporateID }}</td>
            <td class="tg-031e" style="width: 5%">
            {% if o.sign_on_time is not none %}
	    {% if o.sign_on_time > timeStamp %}
				&#10003;
		{% elif o.sign_on_time ==  timeStamp %}
	                	&#10005;

                {%  endif %}
            {%  endif %}
        </td>
	<td class="tg-031e" style="width: 5%">
            {% if o.sign_off_time is not none %}
                &#10003;
            {%  endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <table class="tg">
        <tr>
            <th class="tg-hgcj" colspan="4">Vehicles Present<br></th>
        </tr>
        {% for o in presentVehiclesData %}
        <tr>
            <td class="tg-031e" style="width: 40%">{{ o.corporationID }}</td>
            <td class="tg-031e" style="width: 30%">{{ o.make }} {{ o.model }}</td>
            <td class="tg-031e" style="width: 25%"><strong>AED Present:</strong></td>
            <td class="tg-031e" style="width: 5%">{% if o.AED -%}&#10003; {%  endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <table class="tg">
        <tr>
            <th class="tg-hgcj" colspan="3">Present Voltages<br></th>
        </tr>
       {% for o in voltageDic %}
        <tr>
            <td class="tg-031e" style="width: 40%">{{ o.voltage }}</td>
            <td class="tg-031e" style="width: 30%">Phases: {{ o.numberOfPhases }}</td>
            <td class="tg-031e" style="width: 30%">Wires: {{ o.numberOfWires }}</td>
        </tr>
        {% endfor %}
    </table>
<br>
    <table class="tg">
        <tr>
            <th class="tg-hgcj" >Present Dangers Present<br></th>
        </tr>
       {% for o in presentDangerDic %}
        <tr>
            <td class="tg-031e">{{ o.dangers }}</td>
        </tr>
        {% endfor %}
    </table>
<br>
    <table class="tg">
        <tr>
            <th class="tg-hgcj">Controls/Barriers Present<br></th>
        </tr>
        {% for o in controlsBarriersDic %}
        <tr>
            <td class="tg-031e">{{ o.controlBarriers }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <h3>Job Steps:</h3>
    <p>
        {{ tailboard.jobSteps }}
    </p>

    <h3>Hazards:</h3>
    <p>
        {{ tailboard.jobHazards }}
    </p>

    <h3>Protections:</h3>
    <p>
        {{ tailboard.jobProtectios }}
	
    </p>

</section>

</body>


