<!DOCTYPE html>
<html>
<head>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {% if title %}
        <title>{{ title }} - Deimos</title>
    {% else %}
        <title>Deimos</title>
    {% endif %}

    {%  if messageBox  %}
        <script>
            alert("fuck")
        </script>
    {%  endif %}
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="/static/svg/rocket.svg">
    <!--
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src"/static/js/bootstrap.min.js"></script>-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary">
        <a class="navbar-brand mb-0 h1" href="{{ url_for('index') }}">
            <img src="/static/svg/rocket.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Deimos
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="nav navbar-nav mr-auto">
		    {% if current_user.is_anonymous %}
		    {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('index') }}">Current Tailboard</a>
                    <a class="nav-item nav-link" href="{{ url_for('newTailboard') }}">New Tailboard</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuvehicle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vehicle
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuvehicle">
                            <a class="dropdown-item" href="{{ url_for('newVehicle') }}">New Vehicle</a>
                            <a class="dropdown-item" href="{{ url_for('editVehicle') }}">Edit Vehicle</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuPresentDangers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Present Dangers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuPresentDangers">
                            <a class="dropdown-item" href="{{ url_for('newPresentDangers') }}">New Present Dangers</a>
                            <a class="dropdown-item" href="{{ url_for('editPresentDangers') }}">Edit Present Dangers</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuControlsBarriers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Controls/Barriers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuControlsBarriers">
                            <a class="dropdown-item" href="{{ url_for('newControlBarriers') }}">New Controls/Barriers</a>
                            <a class="dropdown-item" href="{{ url_for('editControlBarriers') }}">Edit Controls/Barriers</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarVoltages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Voltages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuVoltages">
                            <a class="dropdown-item" href="{{ url_for('newVoltages') }}">New voltages</a>
                            <a class="dropdown-item" href="{{ url_for('editVoltages') }}">Edit Voltages</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuReports">
                            <a class="dropdown-item" href="{{ url_for('archives') }}">Tailboard Archives</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuSettings">
                            <a class="dropdown-item disabled" href="{{ 'emailSettings' }}">Email Settings</a>
                            <a class="dropdown-item disabled" href="{{ 'adminSettings' }}">Admin Settings</a>
                            <a class="dropdown-item disabled" href="{{ 'reminderSettings' }}">Reminder Settings</a>
                        </div>
                    </li>
		    {% endif %}
                </ul>
		<ul class="nav justify-content-end">
			<a {% if page == 'tutorials' %}class="nav-item nav-link active" {% else %} class="nav-item nav-link disabled" {% endif %} href="#">Tutorials</a>
			<a {% if page == 'about' %}class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %} href="{{ url_for('about') }}">About</a>
			{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}" class="nav-item nav-link">Login</a>
			{% else %}
			<a href="{{ url_for('logout') }}" class="nav-item nav-link">Logout</a>
			{% endif %}
		</ul>
            </div>
        </div>
    </nav>
</div>

{% block content %}{% endblock %}

</body>

</html>
