{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3">Create A New Controls/Barriers</h1>
        <p class="lead">Enter a new Controls/Barrier to be included on the on-line tailboard</p>
        <hr class="my-4">
            <form action="{{ url_for('newControlBarriers') }}" method="post">
                <div class="form-group">
                    <label for="newControlBarriers">Please select the New Present Dangers present:</label>
                    <input type="text" class="form-control" id="newControlBarriers" name="newControlBarriers" aria-describedby="newControlBarriers" placeholder="Hard Hat"  required>
                 </div>
                <br>
                <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
            </form>
    </div>
</div>
{% endblock %}
