{% extends "base.html" %}
{% block content %}
    {% if current_user.is_anonymous %}
    {% else %}
        <div class="container-fluid">
            <div class="jumbotron">
                <h1 class="display-3">Your Current Tailboards</h1>
                <p class="lead">Taillboard's you are currently on</p>
			<table id="archiveInfo" class="tablesorter" style="width: 100%">
				<thead>
					<tr>
						<th>Tailboard ID<br></th>
						<th>Date</th>
						<th>Location<br></th>
						<th>View Tailboard</th>
						<th>Sign off of this Tailboard</th>
					</tr>
				</thead>
				<tbody>
					{% for o in workingTailboards %}
					<tr>
						<td>{{ o.id }}</td>
						<td>{{ moment(o.timestamp).format('lll') }}</td>
						<td>{{ o.location }}</td>
						<td>
							<button type="button" class="btn btn-info"  onclick="window.open('{{ url_for('handleArchives',tailboardID=o.id) }}', '_blank', 'location=yes,height=570,scrollbars=yes,status=yes');">View</button>
						</td>	
						<td>
							<button type="button" class="btn btn-success" onclick="window.open('{{ url_for('signOffTailboard',tailboardID=o.id) }}', '_self');">Accept</button>
						</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
                <hr class="my-4">
                <p class="lead">Taillboard's you need to approve or reject</p>
                <hr>
			<table id="archiveInfo" class="tablesorter" style="width: 100%">
				<thead>
					<tr>
						<th>Tailboard ID<br></th>
						<th>Date</th>
						<th>Location<br></th>
						<th align="center">View Tailboard</th>
						<th align="center">Join the Tailboard</th>
						<th align="center">Refuse this Tailboard</th>
					</tr>
				</thead>
				<tbody>
					{% for o in myTailboards %}
					<tr>
						<td>{{ o.id }}</td>
						<td>{{ moment(o.timestamp).format('lll') }}</td>
						<td>{{ o.location }}</td>
						<td align="center">
							<button type="button" class="btn btn-info" onclick="window.open('{{ url_for('handleArchives',tailboardID=o.id) }}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');">View</button>
						</td>
						<td align="center">
							<button type="button" class="btn btn-success" onclick="window.open('{{ url_for('joinTailboard',tailboardID=o.id) }}', '_self');">Accept</button>
						</td>
						<td align="center">
							<button type="button" class="btn btn-danger" onclick="window.open('{{ url_for('refuseTailboard',tailboardID=o.id) }}', '_self');">Reject</button>
						</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
            </div>
        </div>
    {% endif %}

{% endblock %}
