{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-3">Reminder Settings</h1>
        <p class="lead">Enter information needed for Reminder Settings email settings</p>
        <hr class="my-4">
            <form action="handleReminderSettings" method="post">
                <div class="form-group">
                    <label for="mailServerTime">Please enter the time you would like the reminder sent to the supervises:</label>
                    <input type="time" class="form-control" id="mailServerTime" name="mailServerTime" aria-describedby="mailServerTime" required>
                 </div>
                <div class="form-group">
                    <label for="healthAndSafetyEmail">Please enter a user account to receive all Reminders (Suggested for Health and Safety Manager) [OPTIONAL]</label>
                    <input type="email" class="form-control" id="healthAndSafetyEmail" name="healthAndSafetyEmail" aria-describedby="healthAndSafetyEmail" placeholder="h&s@londonhydro.com"
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
            </form>
    </div>
</div>
{% endblock %}