{% extends "base.html" %}

{% block content %}
   

 <div class="container-fluid">
	<div class="jumbotron">
		<h1>Reset Password</h1>
		<form action="{{ url_for('reset_password_request') }}"  method="post" novalidate>
			<div class="form-group">
				<label for="inputEmail">Email address:</label>
				<input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
				<br>
				<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>   
{% endblock %}
